<!DOCTYPE html>
<html>

  <head>
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/styles.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="js/jquery-3.2.1.js"></script>
    <script src="js/scripts.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <title>Xak.com</title>
  </head>

  <body>
    <nav class="navbar navbar-fixed-top">
      <ul class="nav navbar-nav">
        <li><a href="index.html"><span class="navs"><i class="fa fa-home" aria-hidden="true" id="home"></i></a></span>
        </li>
        <li id="stories"><a href="#"><span class="navs">Entoz</a></span>
        </li>
        <li><a href="news.html"><span class="navs">Awro</a></span>
        </li>
        <li><a href="#"><span class="navs">Num Lim</a></span>
        </li>
      </ul>
      <a href="#"><i class="fa fa-search" aria-hidden="true"></a></i>
      <a href="#"><i class="fa fa-user sign"></i></a>
      <div class="search">
        <form id="mylog">
          <input type="email" placeholder="Email" class="user" size="15" style="margin-right:5px;" required><input type="password" placeholder="password" class="user" size="15" required><button id="userbtn">Sign In</button>
        </form>
        <input type="search" class="input" placeholder="search"><button type="submit" class="btnsr">Search</button>
        <button type="submit" class="btn">Ondam</button>
      </div>
    </nav>

    <div class="container" id="container1">
      <div class="evo">
        <marquee direction="down" loop="1000" scrollamount="4" scrolldelay="2" behavior="cover">
          <p class="evolve">Venjolne jamilo nun egrame???</p>
        </marquee>
        <marquee direction="right" loop="1000" scrollamount="4" scrolldelay="2" behavior="slide">
          <p class="evolve">Vinjolne fala litelimu vanahu!!!</p>
        </marquee>
        <marquee direction="up" loop="1000" scrollamount="4" scrolldelay="2" behavior="scroll">
          <p class="evolve">Joma fala litelimto vetulo???</p>
        </marquee>
      </div>
      <div class="all">
        <div class="jumbotron">
          <h2 class="top">Endaboz Kolamboz</h2><br>
          <div class="row">
            <div class="col-md-3">
              <div class="well wel-sm">
                <h2>Dela bish kuno</h2>
                <p>Segut dul mayo ongatam seba filis sheta kamun. Sin jama bil fit,<br> nana run sot fela.</p>
                <p id="mor1"><a href="#"><span class="more">Vinoz aig</a></span>
                </p>
              </div>
            </div>
            <div class="col-md-3">
              <div class="well wel-sm">
                <h2>Sos sefa sim</h2>
                <p>Koh jishkaw jun jit alar kora min. Nid esbo sila sitam nid ezrama.<br>Jera duwit dim nefa.</p>
                <p id="mor2"><a href="#"><span class="more">Vinoz aig</a></span>
                </p>
              </div>
            </div>
            <div class="col-md-3">
              <div class="well wel-sm">
                <h2>Fiz elam ehnam</h2>
                <p>Vil vitram viniz vela vindom. Lota nimes sil sitraw.<br>Pif panam pitlo piz parkaw. Jubit.</p>
                <p id="mor3"><a href="#"><span class="more">Vinoz aig</a></span>
                </p>
              </div>
            </div>
            <div class="col-md-3">
              <div class="well wel-sm">
                <h2>Fet fin fedram</h2>
                <p>Dol sota lum erab telam. Jurje alas sheba tim naadaw.<br>Rit dok ziz zelama zitno zota zil.</p>
                <p><a href="#"><span class="more">Vinoz aig</a></span>
                </p>
              </div>
            </div>
          </div><br><br>

          <div class="row">
            <div class="col-md-3">
              <div class="well wel-sm">
                <h2>Ed muruk kunib</h2>
                <p>Numa rit telah sebhaw. Jush kuna deleb tarat fidlam.<br>Sut seles seta sim sudrawa sodlesh.</p>
                <p><a href="#"><span class="more">Vinoz aig</a></span>
                </p>
              </div>
            </div>
            <div class="col-md-3">
              <div class="well wel-sm">
                <h2>Esh jilib dom</h2>
                <p>Debit sid el mo kun adam. Lil deleb seb akraw nimez kiblaw.<br>Feta felek fel fara fataw fejmal.</p>
                <p><a href="#"><span class="more">Vinoz aig</a></span>
                </p>
              </div>
            </div>
            <div class="col-md-3">
              <div class="well wel-sm">
                <h2>Duna bilkaw sif</h2>
                <p>Nun zeba awuh shot fita minzo. Ola minto kawun esbo.<br>El jurel dana lim esa fatam, sudet dof.</p>
                <p><a href="#"><span class="more">Vinoz aig</a></span>
                </p>
              </div>
            </div>
            <div class="col-md-3">
              <div class="well wel-sm">
                <h2>Olem omot onam</h2>
                <p>Don migat el faza fala kun sid shem. Etraw nun ebaet kurel san.<br>Sif ej minal andol.</p>
                <p><a href="#"><span class="more">Vinoz aig</a></span>
                </p>
              </div>
            </div>
          </div><br><br>

          <div class="row">
            <div class="col-md-3">
              <div class="well wel-sm">
                <h2>Kin biskaw shod</h2>
                <p>Zendag salaaf fera fisto dumno esa bahut. Dish shalab shata shum shin.<br> Sud mik ram tala minto.</p>
                <p><a href="#"><span class="more">Vinoz aig</a></span>
                </p>
              </div>
            </div>
            <div class="col-md-3">
              <div class="well wel-sm">
                <h2>Lid adaw amalat</h2>
                <p>Reba muna sif eram nim elafam. Dun esto sul numa bit karmaw.<br>Tawa lamat sid fijro gun et.</p>
                <p><a href="#"><span class="more">Vinoz aig</a></span>
                </p>
              </div>
            </div>
            <div class="col-md-3">
              <div class="well wel-sm">
                <h2>Nezdim sif fatram</h2>
                <p>Gun lebut num sebalo shota lum. Dif ajaw nin esa lom.<br>Tuna nigit sin afa geram wejad.</p>
                <p><a href="#"><span class="more">Vinoz aig</a></span>
                </p>
              </div>
            </div>
            <div class="col-md-3">
              <div class="well wel-sm">
                <h2>Rish kulib dehnaw</h2>
                <p>Bira mun tema sakat sel feta man. Tin shoba famun rom edlam.<br> Jit shaka kamun od sebut.</p>
                <p><a href="#"><span class="more">Vinoz aig</a></span>
                </p>
              </div>
            </div>
          </div><br><br>

          <div class="row">
            <div class="col-md-3">
              <div class="well wel-sm">
                <h2>Delim ejram kebut</h2>
                <p>Lum soba jelif nadam, rama kamun es elifnas. Shod el jubit din nemut seb.<br>Jol delum.</p>
                <p><a href="#"><span class="more">Vinoz aig</a></span>
                </p>
              </div>
            </div>
            <div class="col-md-3">
              <div class="well wel-sm">
                <h2>Ro shulbo sifnaz</h2>
                <p>Kawalat mazayaho dun lemet shama sheldom. Rin sek et delif jol jesum bin dema,<br>fid.</p>
                <p><a href="#"><span class="more">Vinoz aig</a></span>
                </p>
              </div>
            </div>
            <div class="col-md-3">
              <div class="well wel-sm">
                <h2>Tilis adaw filno</h2>
                <p>Ren kuna mik yal, des sebut sota lum. Neta nun sef sagat kawalat mikyal.<br>Rema nam sela lumit. </p>
                <p><a href="#"><span class="more">Vinoz aig</a></span>
                </p>
              </div>
            </div>
            <div class="col-md-3">
              <div class="well wel-sm">
                <h2>Lum mema kush</h2>
                <p>Dorem oblet nuna, kawat seb silaf, nana shin delif shera min.<br>dil ataw feta bun segat.</p>
                <p><a href="#"><span class="more">Vinoz aig</a></span>
                </p>
              </div>
            </div>
          </div><br><br>
        </div>
      </div>
    </div>

    <div ng-app="">
      <div class="container" id="container2">
        <form id="m1">
          <img src="evo.jfif" alt="" title="Evolution"><br>
          <p>Sebet duna nuwit sil shata nana, sil nana mit shubit dona fala kawat<br>Nin bema bil esgaw sora nash tilmas. Ulib kama nid sef jola mungo orbam, fil sefa nana telam,<br>kor fed tela mid sebet ed tumse labat. Bera feta sid kaman astaw. Sij kid
            delef karam kud loba tif fala ankalam<br>rana nem sil fed amaw soba shud bil fegam. fera mela kun es fala handam<br>tir fiz azam mud ola kamun fala astaw. Fala kaman sawak fed aram, dona lumit fela sheta taman.<br>Dil esdaw seba tun tisa fala
            kwan. Rema mud sod, shola ked duma nugit soda dif fedram. Loma sef fata talam kun eba laj,<br>roma ned tala fed. Jon kema delaf fedam.</p>
          <div class="row">
            <div class="col-md-1">
              <a href="#"><i class="fa fa-thumbs-up"></i></a>
              <div id="up2">
              </div>
            </div>
            <div class="col-md-1">
              <a href="#"><i class="fa fa-thumbs-down"></i></a>
              <div id="down2">
              </div>
            </div>
            <div class="col-md-3">
              <button class="btn-info">Share</button>
              <div class="share">
                <a href="http://www.facebook.com"><i class="fa fa-facebook" title="Facebook"></i></a>
                <a href="http://www.twitter.com"><i class="fa fa-twitter" title="Twitter"></i></a>
                <a href="http://www.google-plus.com"><i class="fa fa-google-plus" title="Google+"></i></a>
              </div>
            </div>
          </div><br>

          <input type="text" ng-model="name" placeholder="First Name" required id="post"><br><br>
          <input type="email" placeholder="Email" required class="epost"><br>
          <label>Lum Ongam</label><br>
          <textarea cols="80" rows="8" class="comment"></textarea><br>
          <button class="form-btn" type="submit">Sebtam</button><input type="reset" value="Delete" class="delete">
          <div class="well well-sm post-wells" style="margin-top:10px;width:590px;">
            <ul id="comment-list">
              {{name}}
            </ul>
          </div>
        </form>
      </div>

      <div class="container" id="container3">
        <form id="m2">
          <img src="flat.jfif" alt="" title="Flat Earth"><br>
          <p>Don soleb tema kawun fela muntum. Dereb dema nagat talam feta flaw negit tubho, sefa fala dom julib kema kahun.<br> Lem zeleb tara fam sheba jot dawam. Nel defa fala kawan seb jam adaf. Fid zeba bit jera bin kama hut.<br>Fela fid zid akan dil
            ajram. Deb fez amral kin ela shid lema dun tara fid zela mun. Ked ataw fil lema sed jirim kat talam.<br>Od deb zeta fala ajam bit seba sawat.</p>
          <div class="row">
            <div class="col-md-1">
              <a href="#"><i class="fa fa-thumbs-up"></i></a>
              <div id="up">
              </div>
            </div>
            <div class="col-md-1">
              <a href="#"><i class="fa fa-thumbs-down"></i></a>
              <div id="down">
              </div>
            </div>
            <div class="col-md-3">
              <button class="btn-info">Share</button>
              <div class="share">
                <a href="http://www.facebook.com"><i class="fa fa-facebook" title="Facebook"></i></a>
                <a href="http://www.twitter.com"><i class="fa fa-twitter" title="Twitter"></i></a>
                <a href="http://www.google-plus.com"><i class="fa fa-google-plus" title="Google+"></i></a>
              </div>
            </div>
          </div><br>
          <input type="text" ng-model="name" placeholder="First Name" required id="post2"><br><br>
          <input type="email" placeholder="Email" required class="epost2"><br>
          <label>Lum Ongam</label><br>
          <textarea cols="80" rows="8" class="comment2"></textarea><br>
          <button class="form-btn" type="submit">Sebtam</button><input type="reset" value="Delete" class="delete">
          <div class="well well-sm post-wells" style="margin-top:10px;width:590px;">
            <ul id="comment-list2">
              {{name}}
            </ul>
          </div>
        </form>
      </div>

      <div class="container" id="container4">
        <form id="m3">
          <img src="myth.png" alt="" title="Flat Earth"><br>
          <p>Dela fala ajam kun doma sebet tefa fala haram, dim sela fala kawan jud.<br>Lib tela sindim sibit tef jam kid es baw. Rema beta tish shibit rin nama bil edam fala ejam, ron def fil kala nam.<br>Dun sod elaf fiz sid nam, nil shid tala nuwit bit.
            Fil kuna num kara kaman nid tala sud!</p>
          <div class="row">
            <div class="col-md-1">
              <a href="#"><i class="fa fa-thumbs-up"></i></a>
              <div id="up3">
              </div>
            </div>
            <div class="col-md-1">
              <a href="#"><i class="fa fa-thumbs-down"></i></a>
              <div id="down3">
              </div>
            </div>
            <div class="col-md-3">
              <button class="btn-info">Share</button>
              <div class="share">
                <a href="http://www.facebook.com"><i class="fa fa-facebook" title="Facebook"></i></a>
                <a href="http://www.twitter.com"><i class="fa fa-twitter" title="Twitter"></i></a>
                <a href="http://www.google-plus.com"><i class="fa fa-google-plus" title="Google+"></i></a>
              </div>
            </div>
          </div><br>
          <input type="text" ng-model="name" placeholder="First Name" required id="post2"><br><br>
          <input type="email" placeholder="Email" required class="epost2"><br>
          <label>Lum Ongam</label><br>
          <textarea cols="80" rows="8" class="comment3"></textarea><br>
          <button class="form-btn" type="submit">Sebtam</button><input type="reset" value="Delete" class="delete">
          <div class="well well-sm post-wells" style="margin-top:10px;width:590px;">
            <ul id="comment-list3">
              {{name}}
            </ul>
          </div>
        </form>
      </div>
    </div>

    <div class="bat">
      <div class="icons">
        <h1>NUN TUWARAM</h1>
        <footer>
          <a href="#" class="fa fa-facebook" title="Facebook"></a>
          <a href="#" class="fa fa-twitter" title="Twitter"></a>
          <a href="#" class="fa fa-google-plus" title="Google-Plus"></a>
        </footer>
      </div>
      <div class="well well-sm" style="height:155px;width:200px;background-color:#333;margin-left:100px;">
        <form id="myForm" action="welcome.php" method="post">
          <input type="text" placeholder="First Name" required class="myinput"><br>
          <input type="email" placeholder="Email" required class="myinput"><br>
          <input type="password" placeholder="Password" required class="myinput"><br><br>
          <button class="inpbtn" type="submit"><i class="fa fa-user" aria-hidden="true"> Sign Up</i></button>
        </form>
      </div>
    </div>
  </body>

</html>
